asgiref==3.8.1
Django==5.0.7
django-d1db==0.0.7
django-environ==0.11.2
django-ranged-response==0.2.0
django-recaptcha==4.0.0
environ==1.0
fontawesomefree==6.6.0
pillow==10.4.0
psycopg==3.2.1
recaptcha==1.0rc1
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
