{% extends 'static/base.html' %}


{% block content %}
<h1>Lista pacjentów</h1><br/>
<ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link active" href="{% url 'patient-ls' %}">Pacjenci</a>
  </li>  
  {% if user.is_authenticated %}
  <li style="margin-left: 20px;">
      <a class="btn btn-outline-light my-2 my-sm-0" style="width: 90px" href="{% url 'patient-add' %}">Dodaj</a>
  </li>
  {% endif %}
</ul>
{% if searched %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">HCC</th>
      <th scope="col">Data konsylium</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Grupa krwi</th>
      <th scope="col">Telefon</th>
      <th scope="col">Email</th>
      <th scope="col">PESEL</th>
      <th scope="col">Decyzja</th>
      <th></th>
    </tr>
  </thead>
 {% for patient in patient %}
  <tbody>
    <tr>
      <th scope="row">{{ patient.hcc_num }}</th>
      <td>{{ patient.kons_date }}</td>
      <td>{{ patient.first_name }}</td>
      <td>{{ patient.last_name }}</td>
      <td>{{ patient.grkrwi }}</td>
      <td>{{ patient.phone }}</td>
      <td>{{ patient.email }}</td>
      <td>{{ patient.pesnum }}</td>
      <td>{{ patient.decision }}</td>
      <td>
        {% if user.is_superuser %}
        <a class="btn btn-outline-warning d-inline p-1" style="width: 90px; float: right;" href="{% url 'patient-delete' patient.id %}">Usuń</a>
        {% endif %} 
        {% if user.is_authenticated %}
        <a class="btn btn-light d-inline p-1" style="width: 90px; float: right; margin: 0 10px 0px 10px;" href="{% url 'patient-update' patient.id %}">Aktualizuj</a> 
        <a class="btn btn-light d-inline p-1" style="width: 90px; float: right;" href="{% url 'patient' patient.id %}">Profil</a>
        {% endif %} 
      </td>
    </tr>
  </tbody>
{% endfor %}
</table>

{% else %}
<br/><br/>
    <center><h4>Poszukaj pacjenta</h4></center>
{% endif %}
{% endblock %}